

.custom2 {
    width: 500px;
}

@media screen  and (max-width: 991px) {
    .custom2 {
        width: 100%;
    }
}

.custom1{
    height: 450px ;
}
@media screen  and (max-width: 569px) {
    .custom1{
        height: 650px ;
    }
}